<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_name }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="title">
            <img id="avatar" src="{{ url_for('static', filename='avatar.png') }}">
            <h1>Harry "Hatman" Martin</h1>
            <h1>Personal Brand</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">About Me</a></li>
            </ul>
        </nav>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>